body {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

.header {
    background-color: #1F2937;
}

.header-left {
    font-size: 24px;
    color: #F9FAF8;
}

p, 
.header-right {
    font-size: 18px;
    color: #E5E7EB;
}

.head-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.signup-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3882F6;
    color: #F9FAF8;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    transition: backgorund-color 0.3s ease;
}

.signup-button:hover {
    background-color: rgb(3, 55, 124);
}

.placeholder {
    height: 200px;
    width: 100px;
}